* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: transparent;
    border: solid;
    border-radius: 1.5rem;
    cursor: pointer;
    color: black;
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 0.5rem 1rem;
}

button.gradient {
    border-radius: 100rem;
    padding: 1rem;
    padding: .5rem 3rem;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgb(255, 57, 57), rgb(255, 129, 57)), linear-gradient(75deg, rgba(255, 57, 152,1) 0%, rgba(255,57,57,1) 75%, rgba(255,129,57,1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    font-weight: bold;
}

@media only screen and (min-width: 1200px) {
    header {
        padding: 0 50px;
    }
}

header {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    padding: 0 0.8rem;
    width: 100%;
}



main {
    padding: 2rem;
}

.header-right {
    align-items: center;
    display: flex;
    height: 100%;
}

.header-right button {
    display: none;
}

@media only screen and (min-width: 768px) {
    .header-right .log-in-button {
        display: inline-block;
    }
}

.header-right button:not(:last-child) {
    margin-right: 0.5rem;
}


@media only screen and (min-width: 1200px) {
    .header-right .website-button,
    .header-right .paid-courses-button {
        display: inline-block;
    }
}



.navigation {
    align-items: center;
    display: none;
    height: 100%;
}

@media only screen and (min-width: 768px) {
    .navigation {
        display: block;
    }
}

.navigation .tab {
    align-items: center;
    /*color: black;*/
    display: inline-flex;
    font-size: 1.1rem;
    height: 100%;
    padding: 0.5rem 1rem;
    text-decoration: none;
}


.hamburger-icon {
    cursor: pointer;
    height: 2rem;
}

@media only screen and (min-width: 768px) {
    .hamburger-icon {
        display: none;
    }
}

.programming-languages-section {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.page-title-section {
    margin-bottom: 1rem;
}

.highlight {
    color: #ee21ee;
}

.column {
    padding: 10px;
    height: 450px;
}

@media only screen and (min-width: 1200px) {
    .column {
        padding: 10px;
        height: 600px;
    }
}

@media only screen and (max-width: 1200px) {
    .column.right {
        overflow-x: hidden;
    }
}


.row {
    box-sizing: border-box;
}

.small-text {
    font-size: 13px;
}

.super-big {
    font-size: 50px;
}

@media only screen and (min-width: 1200px) {
    .super-big {
        font-size: 100px;
    }
}

.mid-big {
    font-size: 35px;
}

.small-text-box {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 600px;
}

.bold {
    font-weight: bold;
}

.svg-gradient-background {
    background-image: url('/assets/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 250px;
    display: grid;
    align-items: end
}

.two-column {
    grid-template-columns: 2fr 1fr;
}

@media only screen and (min-width: 1200px) {
    .two-column {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    section {
        display: grid;
        margin: 50px;
    }
}

section {
    display: grid;
    margin: 0.8rem;
}

.single-column {
    grid-template-columns: repeat(1, 1fr);
}

.align-center {
    display: block;
    margin: 0 auto;
}

.svg-gradient-background > .text-block {
    margin: 30px;
}

@media only screen and (min-width: 1200px) {
    .svg-gradient-background > .text-block {
        margin: 30px;
        padding-bottom: 30px;
    }
}

.five-columns {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

@media only screen and (min-width: 1200px) {

}

.logo {

}

.max-img {
    max-width: 100%;
}

.max-img {
    max-width: 300%;
    right: 60px;
    position: relative;
}

@media only screen and (min-width: 1200px) {
    .max-img {
        max-width: 100%;
        max-height: 100%;
    }
}

.full-h-img {
    height: 100%;
}

.full-w-img {
    width: 100%;
}

.four-columns {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-right: 0;
    margin-left: 0;
}

.card {
    background-color: #ededed;
    border-radius: 20px;
}

.two-column .flex-inner {
    margin: 0 !important;
}

.flex-inner > p, .flex-inner > h4 {
    display: flex;
}

section.min-margin {
    margin: 10px;
}

.align-right {
    text-align: end;
}

.orange {
    color: orange;
}

.grey {
    color: grey;
}

.devider {
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 200px;
}

.big {
    font-size: 70px;
}

.border-top {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: grey;
}

.margin-y-50 {
    margin-left: 50px;
    margin-right: 50px;
}

.margin-top-50 {
    margin-top: 50px;
}

.left-footer {
    margin-bottom: 30px;
}

.inline {
    display: inline-block;
    margin-right: 10px;
}

.margin-bot-20 {
    margin-bottom: 20px;
}

.margin-bot-10 {
    margin-bottom: 10px;
}

.grey-img {
    filter: opacity(40%);
}

.bigger-footer-text {
    font-size: 20px;
}

.light-grey {
    color: lightgray;
}

.padding-right {
    padding-right: 5px;
}
